<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>计算器</title>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="//unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/calculator/js/index.js"></script>
</head>
<body class="container">
<h1>价值定义</h1>
<hr>
<form id="form_price" class="row g-3">
    <!-- col-1 不响应；col-md-1 md响应；col-lg-1 lg响应 -->
    <div class="col-lg-1">
        <label class="form-label" for="input_nzct3">扭转醇</label>
        <input id="input_nzct3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_qmkt3">轻锰矿</label>
        <input id="input_qmkt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_ymst3">研磨石</label>
        <input id="input_ymst3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_rma7012t3">RMA70-12</label>
        <input id="input_rma7012t3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_gyyzt3">固源岩组</label>
        <input id="input_gyyzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_qxzzt3">全新装置</label>
        <input id="input_qxzzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_jszzt3">聚酸酯组</label>
        <input id="input_jszzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_tzt3">糖组</label>
        <input id="input_tzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_ytzt3">异铁组</label>
        <input id="input_ytzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_tnjzt3">酮凝集组</label>
        <input id="input_tnjzt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_njt3">凝胶</label>
        <input id="input_njt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_chjt3">炽合金</label>
        <input id="input_chjt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_jtyjt3">晶体元件</label>
        <input id="input_jtyjt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_bzrrjt3">半自然溶剂</label>
        <input id="input_bzrrjt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-lg-1">
        <label class="form-label" for="input_hhqxyt3">化合切削液</label>
        <input id="input_hhqxyt3" class="form-control input_price" type="number" step="0.1">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>
</body>
</html>
